@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    border: 1px solid #f4f1e8;
}

body {
    background-color: #221f22;
}

#container {
    width: 800px;
    height: auto;
    margin: 0 auto;
    background-color: #2d2a2e;
    color: #f4f1e8;
    text-align: center;
}

#content {
    margin: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card, .card-title, .card-content, .card-text, .card-button {
    padding: 20px;
}

.card-button {
    background-color: #f4f1e8;
    color: #2d2a2e;
}