@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #221f22;
}

#container {
    width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: #2d2a2e;
    color: #f4f1e8;
    text-align: center;
}

#content {
    padding: 40px;
}

#title-container {
    margin-bottom: 30px;
}

#title {
    padding: 10px;
}

#cards-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    border-radius: 10px;
    border: 1px solid #f4f1e8;
    background-color: #403e41;
    padding: 20px;
}

.card-header {
    margin-bottom: 30px;
}

.card-button {
    border-radius: 10px;
    border: 1px solid #f4f1e8;
    background-color: transparent;
    padding: 10px;
    color: #f4f1e8;
}

.list-item:last-of-type {
    margin-bottom: 0;
}

.list-item > p {
    padding: 10px;
}